.login_banner
{
    width: 200px;
    height: 500px;
    margin: 0 auto;
}
.login_input[type='text'],
.login_input[type='password']
{
    width: 160px;
    height: 24px;
    margin: 10px 0;

    border: 1px solid rgba(0,0,0,.5);
    outline: none;
}
.login_input:hover
{
    border: 1px solid #00bdfd;
    box-shadow: 0 0 1px 1px #00bdfd;
}
